@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272722;

    --font-principal: "Krona One", sans-serif;
    --font-secundaria: "Montserrat" , sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color:var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-principal);
    font-size: 1.8rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
    
}


.apresentacao__conteudo__texto {
    font-size: 1.0rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-principal);
    font-weight: 400px;
    font-size: 1.1rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--font-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover); 
}

.apresentacao__image {
    width: 50%;
}

.rodape {
    color:var(--cor-principal);
    background-color:var(--cor-terciaria);
    font-size: 24px;
    font-family: var(--font-secundaria);
    display: flex;
    justify-content: center;
    padding: 24px;
    font-weight: 400;
}

@media ( max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        pad: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}